/* ------------------ BackGround Colors ------------------ */

.bg-index {
    background-color: #546e7a;
}

.bg-footer {
    background-color: #819ca9;
}

/* ------------------ Body ------------------ */

body {
    height: 100%;
}

.content {
    padding: 0;
}

/* ------------------ Navigation ------------------ */

#nav {
    background-color: #29434e;
    z-index: 1;
}

.nav-items {
    color: #ffffff;
}

.nav-items:hover {
    color: #819ca9;
}

.nav-btn {
    background-color: #ffffff;
}

/* ------------------ Banner ------------------ */

.banner {
    height: 670px;
    width: 100%;
    background: url("../Photos/tidy-garden.jpg");
    background-size: fixed;
    margin: 0;
}

.banner-container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.banner-text {
    color: #29434e;
    text-align: center;
}

.banner-btn {
    text-align: center;
    margin-top: 25px;
}

.btn-ban {
    background-color: #29434e;
    color: #ffffff;
}

.btn-ban:hover {
    color: #819ca9;
}

/* ------------------ Who We Are ------------------ */

.who-container {
    width: 60%;
    margin-top: 25px;
    text-align: center;
}

.who-cta-btn {
    width: 200px;
    height: 50px;
    background-color: #aed581;
}

.link-container {
    margin-bottom: 10px;
}

.links-img {
    height: 200px;
}

.link {
    background-color: #ffffff;
    display: block;
    padding-bottom: 5px;
}

.link-header {
    background-color: #7da453;
    margin: 0px;
    text-align: left;
    margin-top: 10px;
}

/* ------------------ Services ------------------ */

.lawns {
    text-align: center;
    margin-top: 10px;
}

.grass {
    max-width: 100%;
}

.maintenance {
    text-align: center;
    margin-top: 10px;
}

.weeding {
    max-width: 100%;
}

.landscape {
    text-align: center;
    margin-top: 10px;
}

.overview {
    max-width: 100%;
}

.cant-find {
    text-align: center; 
    margin-top: 10px;
}

.cant-find-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #29434e;
    color: #ffffff;
}

/* ------------------ Gallery ------------------ */

.gallery-title-header {
    background-color: #7da453;
    border-top: 1px solid #e1ffb1;
    border-left: 1px solid #e1ffb1;
    border-right: 1px solid #e1ffb1;
    padding: 15px;
    text-align: center;
}

.gallery-title-body {
    text-align: center;
    border-left: 1px solid #e1ffb1;
    border-right: 1px solid #e1ffb1;
    border-bottom: 1px solid #e1ffb1;
    padding: 15px;
    text-align: center;
}

.gallery-title {
    background-color: #ffffff;
    margin-top: 50px;
    max-width: 90%;
}

.gallery-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.previous {
    color: #29434e;
    font-size: 40px;
}

.next {
    color: #29434e;
    font-size: 40px;
}

/* ------------------ Contact Us ------------------ */

.contact-container {
    width: 100%;
    padding: 25px;
}

/* ------------------ Media Queries ------------------ */

@media (min-width: 768px) {
    .contact-container {
        width: 60%;
    }
    .grass {
        max-width: 100%;
    }
    .links-img {
        height: 300px;
    }
    .cant-find-btn {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #29434e;
        color: #ffffff;
        width: 200px;
        height: 80px;
        font-size: 30px;
    }
    .md-footer {
        bottom: 0;
        position: absolute;
    }
}

@media (min-width: 992px) {
    .contact-container {
        width: 40%;
    }
    .link {
        width: 60%;
    }
    .link-header {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .links-img {
        height: 400px;
    }
}

/* ------------------ Footer ------------------ */

.socials li a i {
    list-style: none;
    text-decoration: none;
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    background-color: #e1ffb1;
    color: #000000;
}

.socials li a i:hover {
    background-color: #29434e;
    color: #ffffff;
}

.container-footer {
    background-color: #819ca9;
    padding-top: 10px;
}

.container-footer-fixed {
    background-color: #819ca9;
    padding-top: 10px;
    bottom: 0;
    position: absolute;
}